# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')

In [6]:
### Step 3. Assign it to a variable called chipo.
chipo = df

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
print(len(chipo))

4622

In [12]:
# Solution 2

print(chipo.shape[0])

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
print(chipo.shape[1])

5

### Step 7. Print the name of all the columns.

In [16]:
print(chipo.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### Step 8. How is the dataset indexed?

In [17]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [27]:
chipo.item_name.value_counts().index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
chipo.item_name.value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [29]:
chipo.choice_description.value_counts().index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [30]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [32]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [33]:
chipo.item_price = chipo.item_price.map(lambda x: float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [34]:
chipo.item_price.dtype

dtype('float64')

In [35]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [36]:
revenue = chipo.item_price * chipo.quantity
revenue.sum()

39237.02

### Step 15. How many orders were made in the period?

In [37]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [40]:
# Solution 1
chipo['revenue'] = chipo.item_price * chipo.quantity
chipo.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [41]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [42]:
chipo.item_name.nunique()

50