# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [4]:
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
baby_names = baby_names.drop(['Unnamed: 0','Id'],axis=1)

In [6]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [22]:
baby_names.groupby('Gender').Name.nunique()

Gender
F    10929
M     8012
Name: Name, dtype: int64

In [44]:
baby_names.groupby('Name').Gender.value_counts()

Name     Gender
Aaban    M           2
Aadan    M           4
Aadarsh  M           1
Aaden    M         196
Aadhav   M           1
                  ...
Zyra     F           7
Zyrah    F           2
Zyren    M           1
Zyria    F          10
Zyriah   F           9
Name: Gender, Length: 18941, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [26]:
names = baby_names.groupby('Name').Count.sum()

### Step 8. How many different names exist in the dataset?

In [28]:
names.shape

(17632,)

### Step 9. What is the name with most occurrences?

In [30]:
names.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [38]:
names[names==names.min()].shape

(2578,)

### Step 11. What is the median name occurrence?

In [40]:
names.median()

49.0

### Step 12. What is the standard deviation of names?

In [41]:
names.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [42]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64