# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')

In [3]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [24]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   price_per_item      4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

### Step 4. How many products cost more than $10.00?

In [11]:
chipo.item_price = chipo.item_price.map(lambda x: float(x.replace('$','')))

In [14]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo_oneitem = chipo_filtered.loc[chipo_filtered.quantity==1]
chipo_oneitem.loc[chipo_oneitem.item_price > 10]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [23]:
chipo['price_per_item'] = chipo.item_price/chipo.quantity
chipo.drop_duplicates(['item_name','choice_description']).shape[0]

1871

In [17]:
chipo.item_name.nunique()

50

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [25]:
chipo.iloc[:,[chipo.columns.get_loc(c) for c in ['item_name','price_per_item','choice_description']]].drop_duplicates()

,item_name,price_per_item,choice_description
0,Chips and Fresh Tomato Salsa,2.39,NaN
1,Izze,3.39,[Clementine]
2,Nantucket Nectar,3.39,[Apple]
3,Chips and Tomatillo-Green Chili Salsa,2.39,NaN
4,Chicken Bowl,8.49,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...
4602,Barbacoa Burrito,9.25,[Tomatillo Green Chili Salsa]
4607,Steak Burrito,11.75,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S..."
4610,Steak Burrito,11.75,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4611,Veggie Burrito,11.25,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve..."
4612,Carnitas Bowl,9.25,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."

### Step 6. Sort by the name of the item

In [27]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [32]:
f3 = chipo.drop_duplicates(['item_name','choice_description','price_per_item'])
f2 = chipo.drop_duplicates(['item_name','choice_description'])

items = chipo.loc[f3.index.symmetric_difference(f2.index),:].item_name.unique()

In [44]:
chipo.loc[chipo.item_name.isin(items),['item_name','choice_description','price_per_item']].groupby('item_name').nunique()

                              choice_description  price_per_item
item_name
Bottled Water                                  0               2
Chips                                          0               2
Chips and Fresh Tomato Salsa                   0               3
Chips and Guacamole                            0               5
Side of Chips                                  0               2

In [46]:
chipo.loc[chipo.item_name=='Bottled Water','price_per_item'].unique()

array([1.09, 1.5 ])

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
mostexpensive = chipo.price_per_item.max()

chipo.loc[chipo.price_per_item==mostexpensive,:].shape[0]

28

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [48]:
chipo.loc[chipo.item_name == 'Veggie Salad Bowl',:].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [49]:
chipo.loc[(chipo.item_name == 'Canned Soda') & (chipo.quantity>1),:].shape[0]

20